
.payment-container {
    max-width: 395px;
    border: 1px solid #dedede;
    background-color: #f5f5f5;
    padding: 0 20px;
    margin: auto;
}

.payment-title {
    margin: 20px 0 0 15px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    color: #4a5c69;
}

.card-wrapper {
    margin: 10px 0 10px 0;
}

.month-container {
    padding-right: 0;
    padding-left: 0;
}

.year-container, .cvc-container {
    padding-left: 0;
}

.no-radius {
    border-radius: 0;
}

.pay-button {
    border: none;
    width: 100%;
    background-color: #e66665;
    margin: 20px 0 15px 0;
    color: #ffffff;
    padding: 4px 0 4px 0;
}

.loader-pay-button {
    display: none;
}

.or-paypal {
    display: block;
    text-align: center;
    margin-top: 7px;
}

.paypal-container {
    text-align: center;
}

.paypal-logo {
    cursor: pointer;
}

.paypal-module {
    display: none;
}